/* policies.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(209, 209, 209);; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white; 
    color: white; 
   
  }
  
  .navbar-logo img {
    height: 50px; /* Adjust logo height */
  }
  
  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .navbar-links a:hover {
    color: blue;
  }
  
  .document-section {
    margin: 20px 70px; /* Margin around the document content */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd; /* Border around the document section */
  }
  
  .document-content {
    margin-bottom: 30px;
  }
  
  .document-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .document-content h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .document-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .divider {
    border-top: 1px solid #ccc; /* Divider line color */
    margin: 20px 0;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(100, 87, 87);
    color: white;
    padding: 20px;
    margin-top: 50px;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Hover color for social icons */
  }
  
  .icon-container img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  
  .copyright-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood; 
    padding: 10px;
    margin-top: 0px;
  }
  
  .copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .copyright-content p {
    margin: 0;
  }
  
  .copyright-content .copyright-text {
    margin-right: auto;
  }
  
  .copyright-content .privacy-terms {
    margin-left: auto;
  }
  